{% extends "network/layout.html" %}

{% block body %}
    
    <div id="composition_view">
        <h1>All Posts</h1>
        <h4>New Post</h3>
        <!--js써서 summit이 onclick되면 fetch해서 등록하고 all post에 upload시키기-->
        <form id="new_post_form">            
            <textarea id="comment" placeholder="Comment" rows="4" cols="150"></textarea><br>
            <input type="submit" value="Post">
        </form>
    </div>    
    <div id="uploaded_posts_view">        
    </div>
    <div id="profile_page_view">
        <h1>Profile</h1>
        <div id="follow_button"></div>
        <div id="unfollow_button"></div>
        <div id="number_of_follower"></div>
        <div id="number_of_followee"></div>
        <!--<div id="follower">Follower</div>
        <div id="followee">Followee</div>-->
        <div id="profile_posts">Posts</div>

    </div>
    <hr>
{% endblock %}